@model ValleyGroceryShop.Models.ViewModel.UserViewModel

@{
    ViewBag.Title = "ForgetPassword";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ForgetPassword</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/datepicker3.css" rel="stylesheet">
    <link href="~/css/styles.css" rel="stylesheet">
</head>
<body>
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">Forget Password</div>

                <div class="panel-body">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="form-group">
                                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Send Password" class="btn btn-info" />
                                    <a class="btn btn-success" href="@Url.Action("Login","Account")">Back</a>
                                    @ViewBag.Message
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>

<script src="~/js/jquery-1.11.1.min.js"></script>
<script src="~/js/bootstrap.min.js"></script>
</body>
</html>

